# C++ build artifacts
/build/

# Vue build artifacts
/apps/web/dist/

# Node dependencies
/apps/web/node_modules/

# Environment files
.env
.env.*
!.env.example

# IDE
.idea/

/docs/TUTOR.md
/docs/Tutor1.md
/docs/NetworkTutor.md

*.zip

apps/desktop/src-tauri/binaries/